@page "/"

<img src="\Page_Banners\Main_Page_Banner.jpg" width="800" height="383" alt="Main data page" />

<h1>Hello, user!</h1>

Welcome to ACME Management App.


<SurveyPrompt Title="How would you rate our service?" />
